.containers {
  display: flex;
  width: 50%;
  margin: .5rem auto;
}

mat-card {
  width: 100%;
}

.left-container {
  width: 45%;
  min-width: 200px;
  margin: 1rem auto auto 1rem;
}

.right-container {
  width: 45%;
  min-width: 200px;
  margin: 1rem 1rem auto auto;
}

.sign-in-field {
  display: inline;
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.inline-region {
  display: inline;
}

.warning{
  text-align: right;
  color: red;

}
