mat-card {
  display: block;
  margin: 1rem auto;
  width: 60%;
}

mat-form-field {
  display: block;
  width: 95%;
  margin: auto;
  padding: auto;
}
h3{
  margin: 6px; padding: 0;
}
h4 {
  margin: 0px; padding: 0;
}

.content {
  font-size: 14pt;
}

mat-expansion-panel {
  background: lightgrey;
}

.post-footer {
  display: block;
  padding: 0px;
  margin: 0;
  width: 100%;
}

.footer-item{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.flex{
  width: 30%;
}

.date-published {
  width: 35%;
  font-family: monospace;
  font-size: 9pt;
}

.author {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

.footer-credit {
  font-size: 10pt;
  font-family: monospace;
  width: 70%;
  text-align: end;
}

.comment {
  background-color: lightgrey;
}

.voting {
  width: 4%;
  vertical-align: top;
  font-size: 20px;
  position: relative;
}

.post {
  width: 94%;
  margin: auto;
}

.post-content {
  width: 100%;
  height: auto;
}

.post-content div {
  overflow-y: auto;
}