<app-header></app-header>
<mat-card>
  <mat-card-title>

    <h3>
      Confirm Account
    </h3>
  </mat-card-title>

    <p>
      In order to confirm your email address for this account, we have sent a confirmation email.<br><br>
      Click the link in the email to confirm your account so you can sign in.
      <br>
      <br>
      <br>
      It is important ensure your account is confirmed, because you cannot sign in otherwise.<br>
      You will need your email address in case you forget your password. <br>
    <p>
</mat-card>
