h4 {
 float: right;
}

.links{
  display: inline-block
}

mat-card {
  display: block;
  margin: 1rem auto;
  width: 60%;
}

.post-content {
  width: 100%;
  height: auto;
}

.post-content div {
  overflow: hidden;
}

h3{
  width: 100%; margin: 4px; padding: 0;
}

.author-area {
  display: block;
  padding: 0;
  margin: .2em;
}

.buttons {
  display: inline;
  margin: auto;
  padding: 0;
}

.author {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.footer-credit {
  font-size: 9pt;
  font-family: monospace;
  width: 70%;
  text-align: end;
}

.voting {
  width: 4%;
  vertical-align: top;
  font-size: 20px;
  position: relative;
}

.post {
  width: 94%;
  margin: auto;

}
