<mat-card>
  <mat-card-title>Sign Up</mat-card-title>

  <p>Please use your in-game username on the server. You will be messaged to confirm your account after registering.</p>
  <form class="sign-up-form" (submit)="onSubmit(signUpForm)" #signUpForm="ngForm">

    <mat-form-field class="sign-up-field">
      <input matInput ngModel
      type="name"
      name="enteredUsername"
      required
      placeholder="Minecraft Username">
    </mat-form-field>

    <mat-form-field class="sign-up-field">
      <input matInput ngModel
      type="email"
      name="enteredEmail"
      required
      placeholder="Email Address">
    </mat-form-field>

    <mat-form-field class="sign-up-field">
      <input matInput ngModel
      type="password"
      name="enteredPassword"
      required
      placeholder="Password"/>
    </mat-form-field>

    <mat-form-field class="sign-up-field">
      <input matInput ngModel
      type="password"
      name="enteredPassword2"
      required
      placeholder="Confirm Password"/>
    </mat-form-field>

    <button
    mat-raised-button
    [disabled]="signUpForm.invalid"
    color="primary"
    type=submit>SIGN UP</button>
    <br><br>
    <span class="warning">{{ warning }}</span>

  </form><br>

</mat-card>
