
mat-card{
  display: block;
  width: 50%;
  margin: 1rem auto;
}

mat-card-content{
  display: block;
  width: 100%;
  margin: auto;
}

.display-title {
  text-align: left;
  width: 100%;
  display: inline-flex;
  margin: auto;
}

.display-date {
  display: inline-flex;
  width: 100%;
  text-align: right;
  font-size: 11pt;
  margin: auto;
}

