body {
  margin: 0;
}
.header-link {
  color: white;
  font-size: 18px;
}

mat-toolbar {
  display: flex;
  position: sticky;
  top: 0;
  height: 4em;
  /* backdrop-filter: blur(90px) contrast(0.4); */
  background-color: black;
}

.navigation-bar-left {
  margin-left: auto;
  margin-right: auto;
}

.navigation-bar-right {
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: whitesmoke;
  text-decoration: underline;
}

.logo {
  height: 3em;
  margin: auto;
}
