<app-header></app-header>
  <div class="container" style="top: 80px;">
			<div class="columns is-centered">
				<div class="column is-four-fifths-tablet is-centered">
					<div class="notification">
							<hr />
              <div class="bd-notification has-text-success">
                <h1 class="title is-size-4">Vote for our server and get in-game rewards</h1>
              </div>
              <br>
						<div class="content">
                <p class="is-size-6 is-family-secondary">Voting for the server means that we get more new players. Even just one vote makes a difference. With all these
                  websites, you can vote at least once every day.</p>
                <p class="is-size-6 is-family-secondary">To vote for the server, click on each of these links below. Follow the instructions on each site, making sure to
                  enter your username so that the site can tell us to give you money.</p>
						</div>
							<hr>
					</div>
        </div>
      </div>
            <div class="columns is-centered">
              <div class="column is-four-fifths-tablet is-centered">
                <div class="notification">
                  <hr />
                    <div class="bd-notification has-text-success has-text-centered">
                      <h1 class="title is-size-5">Thank you for helping out</h1>
                    </div>
                    <br>
                <div class="columns">
                  <div class="column is-half">
                  <a href="http://minecraftservers.org/server/366723" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-1.jpg" alt="" />
                  </a>
                  </div>
                  <div class="column is-half">
                  <a href="http://minecraft-mp.com/server-s133827" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-2.png" alt="" />
                  </a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-half">
                  <a href="http://minecraft-server-list.com/server/357058/" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-3.jpg" alt="" />
                  </a>
                </div>
                  <div class="column is-half">
                  <a href="http://www.planetminecraft.com/server/deca/" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-7.jpg" alt="" />
                  </a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-half">
                  <a href="http://topg.org/Minecraft/in-437648" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-4.jpg" alt="" />
                  </a>
                </div>
                  <div class="column is-half">
                  <a href="https://mineservers.com/server/A1wBvDfh/vote" target="_blank">
                    <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-10.jpg" alt="" />
                  </a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-half">
                    <a href="http://www.serverpact.com/vote-14104" target="_blank">
                      <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-5.jpg" alt="" /></a>
                  </div>
                  <div class="column is-half">
                    <a href="http://minecraftservers.net/server/82121/vote/" target="_blank">
                      <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-8.jpg" alt="" /></a>
                </div>
              </div>
                <div class="columns is-centered">
                  <div class="column is-half">
                    <a href="https://mcserverstatus.com/viewserver/32048" target="_blank">
                      <img class="voter-image" src="https://playdeca.com/assets/images/voting/PlayDeca-Banner-9.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <hr>
              </div>
            </div>
        </div>
      </div>
