<app-header></app-header>
  <!-- Just make a box that asks the user for there email address that they signed up with and then verify that it is an email.ngForm
  Maybe double check it. Like once just with the backend and just it fail for the user and then if it passes move it on to the main function

  or just go with it. All this has to to is send the email address to the backend for the backend to do the rest -->
  <br>
  <mat-card>
    <mat-card-title>
      Reset Password
    </mat-card-title>

    <mat-card-content>
      <p>
        Enter your email address for your account below, and we will send you a link to change it and a temporary password.
      </p>
      <p>
        In case you do not see the email, please check your spam folder. If you still cannot find it, and you are sure you submitted the correct email address contact Random6894 on Discord. The link to the Discord Server is above.
      </p>
      <p class="information">
        {{this.information}}
      </p>

    <form class="reset-form" (submit)="onSubmit(resetForm)" #resetForm="ngForm">

      <mat-form-field class="reset-field">
        <input matInput
        ngModel
        type="email"
        name="enteredEmail"
        required
        placeholder="Your Email Address" value="">
      </mat-form-field>

      <button class="inline-region"
      [disabled]="!resetForm.valid || this.disabled"
      mat-raised-button
      color="primary"
      type=submit>Submit</button>

    </form>
      <p class="warning">
        {{ this.warning}}
      </p>
    </mat-card-content>

  </mat-card>
