mat-card{
  display: block;
  width: 20%;
}

.container {
  margin: 5rem;
  padding: auto;
}

.reset-form {
  margin: auto;
  width: 100%;
}

.reset-field {
  display: inline;
  margin: auto;
}

.warning {
  color: red;
}

.information {
  color: dimgrey;
}
