mat-card {
  width: 100%;
  margin: 1rem;

}

.main-display {
  width: 60%;
  margin: auto;
}
.main-profile-container {
  display: inline-block;
  width: 75%;
  margin: auto;
}

.main-profile {
  display: flex;
  width: 100%;
  margin: auto;
}
.side-bar {
  display: inline-block;
  position: static;
  top: auto;
  vertical-align: top;
  margin: auto;
  width: 25%;
}
