  <div class="text-region is-overlay has-text-centered">
    <img class="logo-image" src="../../../assets/images/logos/PlayDecaBannerPNG.png"/>
    <h2 class="subtitle is-4 has-text-white">Hello and welcome to the news page</h2>
  </div>
