.large-background {
  display: block;
  margin: auto;
}

.text-region{
  width: 60%;
  padding-top: 100px;
  margin: auto;
}

.logo-image{
  width: 70%;
}

.background-text{
  margin: 2rem;
  color: whitesmoke;

  font-family: Roboto;
}
