mat-card {
  display: block;
  margin: 1rem auto;
  width: 60%;
}

mat-form-field {
  display: block;
  width: 95%;
  margin: auto;
  padding: auto;
}
h3{
  margin: 6px; padding: 0;
}
h4 {
  margin: 0px; padding: 0;
}

.content {
  font-size: 14pt;
}

mat-expansion-panel {
  background: lightgrey;
}

.post-footer {
  display: block;
  padding: 0px;
  margin: 0;
  width: 100%;
}

.footer-item{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.edit-button {
  margin: auto 1rem auto;
}

.flex{
  width: 30%;
}

.date-published {
  width: 35%;
  font-size: 10pt;
}

.author {
  width: 70%;
  font-size: 10pt;
  text-align: end;
}

.comment {
  background-color: white;
}

.comment-data {
  margin: 1em;
}
/*
.comment-data {
  width: 94%;
  margin: auto;
  padding: auto;
}

.voting {
  width: 2%;
  vertical-align: top;
  padding: .5em;
  font-size: 20px;
  position: relative;
}

.vote-count {
  text-align: justify;
  margin: auto;
  text-indent: -.45em;
}

.uparrow .downarrow {
  text-align: end;
  margin: auto;
}

.inline-block {
  display: inline-block;
} */
