mat-card{
  display: block;
  width: 20%;
}

.container {
  margin: 5rem;
  padding: auto;
}

.reset-form {
  margin: auto;
}

.reset-field {
  display: inline;
  margin: auto;
}

.warning{
  color: red;
}

.success {
  color: green;
}
