<div class="container">

<mat-card>
  <mat-card-title>
    Set new password, {{this.username}}
  </mat-card-title>


  <form class="reset-form" (submit)="sendNewPassword(resetPassForm)" #resetPassForm="ngForm">

    <mat-form-field class="reset-field">
      <input matInput ngModel
      type="text"
      name="enteredTempCode"
      required
      placeholder="Passcode in the Email"/>
    </mat-form-field>

    <mat-form-field class="reset-field">
      <input matInput ngModel
      type="password"
      name="enteredPassword1"
      required
      placeholder="New Password"/>
    </mat-form-field>
    <mat-form-field class="reset-field">
      <input matInput ngModel
      type="password"
      name="enteredPassword2"
      required
      placeholder="Confirm New Password"/>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type=submit>
      Change Password
    </button>
    <p class="warning">
      {{this.displayWarning}}
    </p>
    <p class="success">
      {{this.success}}
    </p>

  </form>

</mat-card>

</div>
