.inline {
  display: inline-block;
}


.user-container{
  display: block;
  margin: auto;
  padding: auto;
  width: 60%;
}

mat-card-title {
  padding: 0;
  margin: 0;
}

.username {
  width: 200px;
  display: inline-block;
}

.ban-button {
  display: inline-block;
  text-align: right;
}

mat-card {
  width: 400px;
  align-self: center;
  min-width: 200px;
}

.users {
  margin: 1rem .5rem auto auto;
}

.banned {
  top: 5rem;
  position: fixed;
  margin: 1rem auto auto .5rem;
}
