.underlinable:hover {
    text-decoration: underline;
}

.centre {
    text-align: center;
}

.inline-block {
  display: inline-block;
}

.left-region {
  width: 50%;
}

.right-region {
  width: 50%;
  text-align:right;
}

.delete {
  color: red;
}