/* You can add global styles to this file, and also import other style files */
/* body {
  background-image: url("./assets/images/backgrounds/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
} */

html {
  background: black url("assets/images/backgrounds/1080>.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin-bottom: 0;
}

@media (max-width: 1920px) { html { background: black url("assets/images/backgrounds/banner.png"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center center; margin-bottom: 0; } }
@media (max-width: 1024px) { html { background: black url("assets/images/backgrounds/affinity.jpeg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center center; margin: 0; } }
@media (max-width:  768px) { html { background: black url("assets/images/backgrounds/affinity.jpeg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center center; margin: 0; } }

/* responsive */
@media (max-width: 768px) {
  :root {
    font-size: 90%;
  }
}

.center, .center-column, .top, .right, .bottom, .left {
display: flex;
justify-content: center;
align-items: center;
}

p, li{
  font-size: 11pt;
}

mat-card-title, mat-card-header{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #1B5E20;
}

mat-card-title>h1, mat-card-title>h2, mat-card-title>h3, mat-card-title>h4, mat-card-title>h5, mat-card-title>h6,
mat-card-header>h1, mat-card-header>h2,mat-card-header>h3,mat-card-header>h4,mat-card-header>h5,mat-card-header>h6{
  color: #1B5E20;
}

mat-card{
  display: block;
  width: 60%;
  margin: 1rem auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color: navy;
}

hr {
  border: 0;
  height: 2px;
  background: #23D160;
}

.control-links {
  color: #424242;
}

.inline-block {
  display: inline-block;
}

.vote-count {
  text-anchor: middle;
  margin-left: -.1em;
}

.uparrow .downarrow {
}

.uparrow:hover {
  color: green;
}

.downarrow:hover {
  color: #c62828;
}

.red { color:#c62828; }
.green { color: green; }

.warning{
  text-align: right;
  color: red;
}
