body {
  margin: 0;
}

.header-link {
  color: white;
  font-size: 18px;
  margin: auto;
  border-radius: 4px;
}

.logo {
  height: 3em;
  margin: auto;
}
hr {
  border: 0;
  height: 2px;
  background: #23D160;
}

.mobile-menu {
  display: block;
  float: right;
  height: 100%;
  width: 300px;
  background-color: rgba(40, 40, 40, 0.5);
}
